apiVersion: v2
description: A Helm chart for MinIO Operator
name: minio-instance
version: 5.0.3-bb.1
appVersion: RELEASE.2023-04-28T18-11-17Z
keywords:
  - storage
  - object-storage
  - S3
home: https://min.io
icon: https://min.io/resources/img/logo/MINIO_wordmark.png
sources:
  - https://github.com/minio/operator
maintainers:
  - name: MinIO, Inc
    email: dev@minio.io
type: application
dependencies:
- name: gluon
  version: "0.3.2"
  repository: "oci://registry1.dso.mil/bigbang"
annotations:
  bigbang.dev/applicationVersions: |
    - Minio: RELEASE.2023-04-28T18-11-17Z
  helm.sh/images: |
    - name: minio
      image: registry1.dso.mil/ironbank/opensource/minio/minio:RELEASE.2023-04-28T18-11-17Z
