# -- Network Policy configuration; see bb-common network policy docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/network-policies?ref_type=heads
# @default -- Basic configuration for minio to run and allow cluster-wide access to minio's S3 API on port 9000
networkPolicies:
  enabled: false
  egress:
    from:
      minio-instance:
        to:
          definition:
            kubeAPI: true
  ingress:
    to:
      minio-instance:9000:
        from:
          k8s:
            # allows any service in the cluster to consume minio's API for s3 storage
            '*': true

# -- Routes configuration; see bb-common routes docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/routes?ref_type=heads
# @default -- Route skeletons configured for minio API and console; no gateways or hosts defined and routes disabled
routes:
  inbound:
    api:
      service: minio
      port: 80
      containerPort: 9000
      selector:
        app.kubernetes.io/name: minio-instance
    console:
      service: minio-minio-minio-instance-console
      port: 9090
      selector:
        app.kubernetes.io/name: minio-instance

# -- Istio configuration; see bb-common istio docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/istio?ref_type=heads
# @default -- Istio disabled
istio:
  enabled: false

monitoring:
  enabled: false

apiVersion: minio.min.io/v2
# -- Values to pass to [the upstream minio chart](https://github.com/minio/operator/blob/master/helm/tenant/values.yaml)
# @default -- Upstream chart values
upstream:
  upgradeTenants:
    enabled: true
  tenant:
    image:
      repository: registry1.dso.mil/ironbank/opensource/minio/minio
      tag: RELEASE.2025-10-15T17-29-55Z
      pullPolicy: Always
    imagePullSecret:
      name: private-registry
    configSecret:
      accessKey: minio
      secretKey: minio123
    pools:
      - servers: 4
        name: pool-0
        volumesPerServer: 4
        size: 10Gi
        securityContext:
          runAsUser: 1001
          runAsGroup: 1001
          fsGroup: 1001
          fsGroupChangePolicy: "OnRootMismatch"
          runAsNonRoot: true
        containerSecurityContext:
          runAsUser: 1001
          runAsGroup: 1001
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
    mountPath: /export
    subPath: /data
    metrics:
      enabled: false
      port: 9000
      protocol: http
    certificate:
      requestAutoCert: false
    features:
      bucketDNS: false
      enableSFTP: false
    podManagementPolicy: Parallel
    prometheusOperator: false

  ingress:
    api:
      enabled: false
      host: minio.local
      path: /
      pathType: Prefix
    console:
      enabled: false
      host: minio-console.local
      path: /
      pathType: Prefix

openshift: false

bbtests:
  enabled: false
  scripts:
    permissions:
      apiGroups:
        - ""
      resources:
        - configmaps
      verbs:
        - create
        - delete
        - list
        - get
    image: registry1.dso.mil/ironbank/big-bang/devops-tester:1.0
    envs:
      MINIO_HOST: 'http://minio'
    secretEnvs:
      - name: SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: minio-access
            key: secretkey
      - name: ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: minio-access
            key: accesskey

waitJob:
  enabled: true
  permissions:
    apiGroups:
     - minio.min.io
     - minio.min.io/v2
    resources:
     - tenants
     - tenant
     - tenants.minio.min.io
